
:root{
  azul escuro: #1a1a2e;
  branco: #FFFFFF;
  preto: #000000;
  dourado: #C9A96E;
}
/* ── HEADER ── */
header{
  display: flex;
  align-items: center;
  justify-content: space-beetwen;
  padding: 0 2.5rem;
  height: 68px;
  background: #1a1a2e;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 2px solid #c9a96e;
}
  
/* ── HERO ── */

/* ── SOBRE ── */

/* ── DEPOIMENTOS ── */

/* ── FORMULÁRIO ── */

/* ── FOOTER ── */
